<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>یک سوال مهم ❤️</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<div class="stars"></div>


<div class="container">


<div id="page1" class="box">

<div class="heart">
❤️
</div>


<h1>
یه سوال مهم ازت دارم...
</h1>


<p>
آماده‌ای؟ 🥺
</p>


<button onclick="startQuestion()">
شروع ❤️
</button>


</div>



<div id="page2" class="box hidden">


<h1>
شب بریم بیرون؟ 🌙
</h1>


<p>
یه قرار قشنگ باهم داشته باشیم؟
</p>


<div class="buttons">

<button id="yes"
onclick="yesClick()">
❤️ بله
</button>


<button id="no"
onclick="noClick()">
نه 😢
</button>


</div>


</div>




<div id="page3" class="box hidden">


<h1>
پس قرارمون قطعی شد ❤️
</h1>


<p>
تاریخ و ساعت رو انتخاب کن 🌹
</p>


<input 
type="date"
id="date">


<input
type="time"
id="time">


<button onclick="finalPage()">
ادامه ❤️
</button>


</div>




<div id="page4" class="box hidden">


<div class="rose">
🌹
</div>


<h1>
با عشق تقدیم به تو ❤️
</h1>


<p>
منتظر یه شب فوق‌العاده باش...
</p>


<div id="petals"></div>


</div>


</div>




<audio id="music" loop>

<source src="{{ url_for('static', filename='music/love.mp3') }}">

</audio>


<script src="{{ url_for('static', filename='script.js') }}"></script>


</body>

</html>