<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>یک قرار عاشقانه ❤️</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<div class="stars"></div>


<div class="container">


<!-- صفحه شروع -->

<section id="start" class="card">

<div class="big-heart">
❤️
</div>


<h1>
یک پیام مخصوص برای تو...
</h1>


<p>
آماده‌ای؟ 🌙
</p>


<button onclick="openQuestion()">
باز کن 💌
</button>


</section>




<!-- سوال -->

<section id="question" class="card hide">


<h1>
شب بریم بیرون؟ 🌹
</h1>


<p>
یه شب قشنگ کنار هم داشته باشیم؟
</p>


<div class="buttons">


<button id="yesBtn" onclick="yesAnswer()">
❤️ بله
</button>


<button id="noBtn" onclick="noAnswer()">
نه 😢
</button>


</div>


</section>





<!-- انتخاب قرار -->

<section id="datePage" class="card hide">


<h1>
قرارمون رو انتخاب کن ❤️
</h1>



<div class="calendar-wrapper">


<button class="date-button" onclick="showCalendar()">

📅 انتخاب تاریخ

</button>


<div id="selectedDate">
هنوز انتخاب نشده
</div>


<div id="calendar" class="calendar hide">

<div class="calendar-header">


<button onclick="changeMonth(-1)">
◀
</button>


<h2 id="monthTitle">
فروردین ۱۴۰۵
</h2>


<button onclick="changeMonth(1)">
▶
</button>


</div>



<div class="days">

<div>ش</div>
<div>ی</div>
<div>د</div>
<div>س</div>
<div>چ</div>
<div>پ</div>
<div>ج</div>

</div>



<div id="dates" class="dates"></div>


</div>


</div>





<h2>
⏰ ساعت قرار
</h2>


<select id="time">

<option>
18:00
</option>

<option>
19:00
</option>

<option>
20:00
</option>

<option>
21:00
</option>

<option>
22:00
</option>


</select>



<button onclick="finishDate()">
ادامه ❤️
</button>



</section>







<!-- صفحه آخر -->


<section id="final" class="card hide">


<div class="rose">
🌹
</div>


<h1>
قرارمون قطعی شد ❤️
</h1>


<p id="finalText">

با عشق منتظرت هستم...

</p>


<div id="petals"></div>


</section>



</div>






<audio id="music" loop>

<source src="{{ url_for('static', filename='music/love.mp3') }}">

</audio>




<script src="{{ url_for('static', filename='script.js') }}"></script>


</body>

</html>